:host {
    display: grid;
}

.asd {
    height: 100%;
    background-color: aqua;
}

.axes {
    block-size: 12.5rem;
    inline-size: 25rem;
    color: #bc71c9;
}

.charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    
    .chart {
        width: 45%;
    }
}
.chart {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.buttons {
    display: flex;
    width: 100%;
    .btn {
        width: 35%;
    }
}