<tui-breadcrumbs [size]="'l'">
    @for (item of breadcrumbsItems; track $index) {
    <a *tuiItem tuiLink [routerLink]="item.routerLink">{{item.caption}}</a>
    }
</tui-breadcrumbs>
<hr>
<div class="split">
    <div class="left-panel">

        @if (chartData$ | async; as data ) {
        @if (!this.error) {
        <app-chart [data]="data"></app-chart>
        }
        @else {
        <tui-icon [style.color]="'var(--tui-text-negative)'" icon="@tui.circle-x"></tui-icon>
        }
        }
        @else {
        <tui-loader></tui-loader>
        }

    </div>
    <div class="right-panel">
        <div class="subright">
            <form [formGroup]="reqFrom" (ngSubmit)="UpdateChart()" tuiAppearance="floating" tuiCardLarge>
                <section>
                    <div class="dates">
                        <tui-textfield class="tui-space_top-2">
                            <label tuiLabel>Choose a date</label>
                            <input tuiInputDate formControlName="startDate" />
                            <tui-calendar *tuiTextfieldDropdown />
                        </tui-textfield>
                        <tui-textfield class="tui-space_top-5">
                            <label tuiLabel>Choose a date</label>
                            <input tuiInputDate formControlName="endDate" />
                            <tui-calendar *tuiTextfieldDropdown />
                        </tui-textfield>
                    </div>
                    <div class="spread tui-space_top-5">
                        <tui-textfield tuiChevron>
                            <input tuiSelect formControlName="spread" />

                            <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="spreadOptions" />
                        </tui-textfield>
                    </div>

                </section>
                <footer>
                    <button appearance="success" size="m" [disabled]="!reqFrom.valid" tuiButton type="submit">
                        Update
                    </button>
                </footer>
            </form>
        </div>


    </div>
</div>

<div class="export-btn">
    <app-link-button [icon]="'@tui.download'" [label]="'Export this data'"
        [link]="'/export-visualization'"></app-link-button>
</div>